<%- include('../partials/header', {
    metaTitle: `Profil de ${player.name.charAt(0).toUpperCase() + player.name.slice(1)} | Bouboum.fr`,
    metaDescription: `Profil de ${player.name.charAt(0).toUpperCase() + player.name.slice(1)}.`,
    chartist: true 
}) %>

<div class="mt-8 mb-4 flex flex-col container mx-auto items-center">
    <h1 class="text-4xl text-red-extinction mb-10">Profil</h1>
    <div class="mr-0 mb-4 flex flex-col items-start bg-extinction px-4 py-4">
        <div class="w-full">
            <div class="flex justify-between items-center">
                <div>
                    <h2 class="text-2xl text-shadow" id="player" data-player-id="<%= player.id %>">
                        <%= player.name.charAt(0).toUpperCase() + player.name.slice(1) %>
                    </h2>
                    <div class="text-xs mt-1">Dans le classement depuis le <span
                            class="font-bold"><%= player.createdAt %></span></div>
                </div>
                <div class="flex">
                    <img src="/images/medal-1.png" title="Vainqueur de la DuoCup avec Blond">
                    <img src="/images/medal-3.png" title="Vainqueur de la DuoCup avec Blond">
                    <img src="/images/medal-2.png" title="Vainqueur de la DuoCup avec Blond">
                    <img src="/images/medal-1.png" title="Vainqueur de la DuoCup avec Blond">
                </div>
            </div>
            <div class="flex items-stretch justify-between mt-4 h-full">
                <div class="flex flex-col p-4 bg-extinction-dark rounded w-full mr-4">
                    <div class="flex justify-between mb-3">
                        <h3 class="text-green-extinction text-lg">Bouboum</h3>
                        <div class="flex items-center font-bold text-lg chartist-button hover:underline cursor-pointer"
                            data-key="bouboum-rank">
                            <span><%= (bouboumScores !== null) ? `${bouboumScores.rank+1}` : 'N/A'  %></span>
                            <sup class="font-normal text-xs" data-key="bouboum-rank">
                                <%= (bouboumScores !== null && bouboumScores.rank+1 === 1) ? 'er' : 'ème' %>
                            </sup>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="bouboum-ratio">TPS</span>
                        <span
                            class="font-bold text-red-extinction"><%= (bouboumScores !== null) ? bouboumScores.ratio/100 : 0 %></span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="bouboum-win">Victoires</span>
                        <span
                            class="font-bold text-yellow-extinction"><%= (bouboumScores !== null) ? bouboumScores.win : 0 %></span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="bouboum-win-ratio">Pourcentage de victoires</span>
                        <span
                            class="font-bold"><%= (bouboumScores !== null) ? ((bouboumScores.win/bouboumScores.total)*100).toFixed(2) : 0 %>%</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="bouboum-total">Parties jouées</span>
                        <span class="font-bold"><%= (bouboumScores !== null) ? bouboumScores.total : 0%></span>
                    </div>
                </div>
                <div class="flex flex-col p-4 bg-extinction-dark rounded h-full w-full">
                    <div class="flex justify-between mb-3">
                        <h3 class="text-green-extinction text-lg">Aaaah !</h3>
                        <div class="flex items-center font-bold text-lg chartist-button hover:underline cursor-pointer"
                            data-key="aaaah-rank">
                            <span><%= (aaaahScores !== null) ? `${aaaahScores.rank+1}` : 'N/A'  %></span>
                            <sup class="font-normal text-xs" data-key="aaaah-rank">
                                <%= (aaaahScores !== null && aaaahScores.rank+1 === 1) ? 'er' : 'ème' %>
                            </sup>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="aaaah-kill">Tués</span>

                        <span
                            class="font-bold text-red-extinction"><%= (aaaahScores !== null) ? aaaahScores.kill : 0 %></span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="aaaah-win">Victoires</span>
                        <span
                            class="font-bold text-yellow-extinction"><%= (aaaahScores !== null) ? aaaahScores.win : 0 %></span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="aaaah-win-ratio">Pourcentage de victoires</span>
                        <span
                            class="font-bold"><%= (aaaahScores !== null) ? ((aaaahScores.win/aaaahScores.total)*100).toFixed(2) : 0 %>%</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="aaaah-guiding">Guidages</span>
                        <span
                            class="font-bold text-yellow-extinction"><%= (aaaahScores !== null) ? aaaahScores.guiding : 0 %></span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="aaaah-guiding-ratio">Pourcentage de guidage</span>
                        <span
                            class="font-bold"><%= (aaaahScores !== null) ? aaaahScores.guiding_ratio/100 : 0 %>%</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-12 chartist-button hover:underline cursor-pointer"
                            data-key="aaaah-total">Parties jouées</span>
                        <span class="font-bold"><%= (aaaahScores !== null) ? aaaahScores.total : 0 %></span>
                    </div>
                </div>
            </div>
        </div>
        <ul class="flex mt-4">
            <li class="-mb-px mr-1">
                <a
                    class="bg-extinction-dark inline-block rounded-t py-2 px-4 text-green-extinction font-semibold">Classement</a>
            </li>
        </ul>
        <div class="" style="width: 700px; height: 300px">
            <div id="charts" class="bg-extinction-dark rounded-b h-full pt-4 rounded-tr relative"></div>
        </div>
        <div class="mt-4 text-xs">Les statistiques sont actualisées une fois par jour.</div>
    </div>

</div>

<script src="/javascripts/profile.min.js"></script>

<%- include('../partials/footer') %>