<%- include('../templates/header', {
        metaTitle: 'Liste des cartes | Bouboum.fr',
        metaDescription: 'Liste des cartes Bouboum élaborées par un éditeur surpuissant.',
}) %>

<div class="mt-8 container mx-auto px-4 items-center text-center">
    <h1 class="text-4xl text-red-extinction mb-10">Liste des cartes</h1>
    <div class="mb-2 flex flex-col items-center">
        <%  if (admin) { %>
        <%- include('./_info') %>
        <% } %>
        <span>Rechercher</span>
        <div class="flex mt-2">
            <input type="text" id="search" maxlength="37" minlength="4"
                class="overflow-hidden input-text ml-2 bg-extinction text-left flex items-center" style="width: 20rem;"
                placeholder="Titre, tag, auteur, date...">
        </div>
    </div>

    <%- include('./_pagination.ejs', { margin: 'mt-6' }) %>

    <div id="maps" class="flex flex-wrap">
        <% maps.forEach(map => { %>
        <div class="map flex flex-col text-left mb-6 m-2" data-name="<%= map.name %>" data-author="<%= map.author %>"
            data-created-at="<%= map.createdAt %>" style="display: none;">
            <div class="download-container">
                <a href="/cartes/<%= map.id %>"><img class="bg-empty-square-extinction" src="<%= map.image %>"
                        alt="<%= map.name %>"></a>
                <a class="rounded p-1 download-top-right" href="<%= map.path %>" rel="nofollow"
                    download="<%= map.name %>"><img src="/images/download-24px.svg" alt="download"></a>
                <%  if (admin) { %>
                <img class="rounded p-1 delete-bottom-right" data-id="<%= map.id %>" src="/images/delete.svg"
                    alt="delete">
                <% } %>
            </div>

            <label class="mt-1 uppercase truncate text-base">
                <a href="/cartes/<%= map.id %>" class="text-menu-extinction"><%= map.name %></a>
            </label>

            <label class="truncate text-xs">Créée par <span class="text-green-extinction"><%= map.author %></span> •
                <%= map.createdAt %></label>
            <div class="map-tags flex-wrap flex items-center">
                <% map.tags.forEach(mapTag => { %>
                <div class="tag rounded-full bg-extinction mt-1 mr-1 text-xs px-2 py-1">
                    <span><%= mapTag.name.charAt(0).toUpperCase() + mapTag.name.slice(1) %></span>
                </div>
                <% }); %>
            </div>
        </div>
        <% }); %>
    </div>

    <%- include('./_pagination.ejs', { margin: 'mb-6' }) %>

</div>
<script src="/javascripts/search.min.js"></script>
<script src="/javascripts/pagination.min.js"></script>
<% if (admin) { %>
<script src="/javascripts/admin-map.min.js"></script>
<% } %>

<%- include('../templates/footer') %>