<div id="maps" class="flex flex-wrap my-2 bg-extinction-dark">
    <% maps.forEach(map => { %>
    <div class="map flex flex-col text-left mb-6 m-2">

        <div class="download-container">
            <img class="lazy bg-empty-square-extinction" src="/images/default-map-image.png" data-src="<%= map.image %>"
                alt="<%= map.name %>">
            <% if (poll.status === 'ongoing') { %>
            <div class="vote-bottom-right">
                
                <img class="vote-button absolute" data-status="<%= votesStatus[map.id] %>" data-map-id="<%= map.id %>" src="<%= votesStatus[map.id] ? '/images/star-checked.svg' : '/images/star.svg' %>"
                    alt="Voter" title="Voter">
            </div>
            <% } %>
        </div>

        <label class="mt-1 uppercase truncate text-base">
            <a href="/cartes/<%= map.id %>" class="hover:underline"><%= map.name %></a>
        </label>

        <label class="truncate text-xs">Créée par <span class="text-green-extinction"><%= map.author %></span> •
            <%= map.createdAt %></label>
    </div>
    <% }); %>
</div>