<%- include('../partials/header', {
    metaTitle: 'Liste des cartes | Bouboum.fr',
    metaDescription: 'Liste des cartes Bouboum élaborées par un éditeur surpuissant.',
}) %>

<div class="mt-8 container mx-auto px-4 text-center">

    <h1 class="text-4xl text-red-extinction mb-8">Sondage</h1>

    <div class="mt-4 mr-0 mb-4 flex flex-col items-start bg-extinction px-6 py-5">
        <h2 class="w-full text-3xl text-center" id="poll-title" data-poll-id="<%= poll.id %>"><%= poll.title %></h2>

        <div class="text-base my-6 w-full">
            <p class="text-left pb-2">
                Votez pour vos cartes <span
                    class="text-blue-extinction"><%= poll.tag.name.charAt(0).toUpperCase() + poll.tag.name.slice(1) %></span>
                préférées.
            </p>
            <% let maxVotesNumber = Math.ceil(maps.length*0.1) %>
            <p class="text-left pb-4">Vous avez encore <span class="text-green-extinction text-2xl font-bold px-1" id="remaining-votes"><%= maxVotesNumber-votesNumber %></span>/<span class="pl-1" id="max-votes-number"><%= maxVotesNumber %></span> votes à exprimer sur <span class="text-green-extinction"><%= maps.length %></span> cartes pour déterminer celles qui seront officialisées.</p>
            <p class="pb-4 text-left">
                <span class="underline">Remarque :</span><br>
                <%= poll.description %>
            </p>
            <p class="text-left">Bonne chance.</p>
        </div>
        <%- include('./_clock') %>
        <% if (poll.status !== 'ended') { %>
            <%- include('./_maps') %>
        <% } else { %>
            <div class="self-center">Nombre total de votes <span><%= totalVotesNumber %></span></div>
            <%- include('./_results') %>
        <% } %>
    </div>
    <img class="hidden" src="/images/sync.svg">
    <img class="hidden" src="/images/star-checked.svg">
</div>

<script src="/javascripts/yall.min.js"></script>
<script>document.addEventListener("DOMContentLoaded", yall);</script>
<script src="/javascripts/clock.min.js"></script>
<script src="/javascripts/vote.min.js"></script>

<%- include('../partials/footer') %>