<%- include('../partials/header', {
      metaTitle: `Classement ${game} | Bouboum.fr`,
      metaDescription: `Classement ${game} par nombre de victoires de extinction-minijeux.fr.`,
}) %>

<div class="mt-8 flex flex-col container mx-auto items-center">
  <h1 id="title" class="text-4xl mb-4 text-red-extinction" data-game="<%= game.toLowerCase() %>">Classement <%= (game === 'Aaaah') ? 'Aaaah !' : game %></h1>

  <nav class="noselect flex text-center flex-col items-center justify-center date-pagination m-4 text-green-extinction">
    <div type="text" id="datepicker" class="text-xl w-64 mb-2"><%= date %></div>
    <div id="calendar-container"></div>
  </nav>

  <table class="mt-4 mr-0 mb-4 bg-extinction px-6 py-5">
    <thead>
      <tr class="text-left">
        <th style="width: 60px"></th>
        <% if (game === 'Bouboum') { %>
          <th style="width: 300px"></th>
          <th class="text-center" style="width: 170px">Parties gagnées</th>
          <th class="text-center" style="width: 170px">Parties jouées</th>
          <th class="text-center" style="width: 100px">TPM</th>
        <% } else { %>
          <th style="width: 150px"></th>
          <th class="text-center" style="width: 170px">Arrivées en tête</th>
          <th class="text-center" style="width: 170px">Parties jouées</th>
          <th class="text-center" style="width: 170px">Guidage</th>
          <th class="text-center" style="width: 130px">Joueurs tués</th>
        <% } %>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
</div>

<script src="/javascripts/ranking.min.js"></script>
<%- include('../partials/footer') %>