<%- include('../partials/header', {
      metaTitle: `Classement ${game} | Bouboum.fr`,
      metaDescription: `Classement ${game} par nombre de victoires de extinction-minijeux.fr.`,
}) %>

<div class="mt-8 flex flex-col container mx-auto items-center">
  <h1 id="title" class="text-4xl mb-4 text-red-extinction" data-game="<%= game.toLowerCase() %>">Classement <%= (game === 'Aaaah') ? 'Aaaah !' : game %></h1>

  <nav class="noselect flex items-center justify-between date-pagination m-4 text-green-extinction">
    
    <button id="prev" title="Précédent" class="opacity-25 date-selector uppercase text-2xs text-green-extinction bg-extinction font-bold py-2 px-4 rounded-full inline-flex items-center">
      <img src="/images/left_arrow.svg" alt="left" width="8">
      <span class="ml-1">Précédent</span>
    </button>
    
    <div id="current-date" class="text-xl ml-5 mr-5"><%= date %></div>

    <button id="next" title="Suivant" class="opacity-25 date-selector uppercase text-2xs text-green-extinction bg-extinction font-bold py-2 px-4 rounded-full inline-flex items-center">
      <span class="mr-1">Suivant</span>
      <img src="/images/right_arrow.svg" alt="right" width="8">
    </button>
  </nav>

  <table class="mt-4 mr-0 mb-4 bg-extinction px-6 py-5 rounded">
    <thead>
      <tr class="text-left">
        <th style="width: 60px"></th>
        <% if (game === 'Bouboum') { %>
          <th style="width: 300px"></th>
          <th class="text-center" style="width: 170px">Parties gagnées</th>
          <th class="text-center" style="width: 170px">Parties jouées</th>
          <th class="text-center" style="width: 100px">TPM</th>
        <% } else { %>
          <th style="width: 150px"></th>
          <th class="text-center" style="width: 170px">Arrivées en tête</th>
          <th class="text-center" style="width: 170px">Parties jouées</th>
          <th class="text-center" style="width: 170px">Guidage</th>
          <th class="text-center" style="width: 130px">Joueurs tués</th>
        <% } %>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
</div>

<script src="/javascripts/ranking.min.js"></script>
<%- include('../partials/footer') %>